<!-- views/partials/footer.ejs -->
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2020 <a href="http://www.EEDB.Nope.com">EEDB</a></p>
    </div>
</footer>